<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Brand Exploration</title>
        <link rel="stylesheet" href="assets/webfonts/webfonts.css">
        <link rel="stylesheet" href="index.min.css">
        <script>
		const menu = {
			about: [
				"About Georgia Tech",
				"Visitor Information",
				"Office and Department Directory",
				"Student, Staff, and Faculty Directory",
				"Institute Leadership",
				"Ethics",
				"Careers at Tech"
			], 
			academics: "item",
			admissions: "item",
			life: "item",
			athletics: "item",
			research: "item",
			news: "item",
		}
        </script>
        <script>
                const accordion =  (data, elem) => {
                        typeof data == "object" ? iterate() : elem.innerHTML = data;
                        return elem;
                        function iterate() {
                                for ([key, value] of Object.entries(data)) {
                                        let btn = document.createElement("div"),
                                                cont = document.createElement("div"),
                                                fold = document.createElement("div");
                                        if (!Array.isArray(data)) {
                                                btn.innerHTML = key; btn.classList.add("btn");
                                                cont.style.overflow = "hidden";	cont.style.maxHeight = "0px"; cont.style.margin = "0px";
                                                fold.appendChild(btn); fold.appendChild(cont); fold.classList.add("fold");
                                        }
                                        accordion(value, cont);
                                        fold.appendChild(cont);
                                        btn.addEventListener("click", event => {
                                                cont.style.maxHeight !== "0px" ?
                                                        cont.style.maxHeight = "0px" :
                                                	cont.style.maxHeight = "500vh";
                                                fold.classList.toggle("open");
                                        });
                                        elem.appendChild(fold);
                                }
                        }
                        function parentsOf(e){
                                var els = [];
                                while (e) {
                                        els.push(e);
                                        e = e.parentNode;
                                }
                        // remove doc, html, body...
                                els.length -= 3; 
                                return els;
                        }
                }

        </script>
</head>
<body>
        <nav class="alert">
                <div class="msg">
                        Stay Safe 😷❤️
                </div>
                <header>
                        <div class="hamburger">≡</div>
                        <div class="logo lockup">
                                <svg viewBox="0 0 103.3 64.45">
                                        <defs>
                                                <g id="trademark" class="trademark">
                                                        <path class="cls-1" d="M91.61,60.75h0a1.85,1.85,0,1,0,1.82,1.85A1.84,1.84,0,0,0,91.61,60.75Zm0,3.42a1.57,1.57,0,0,1,0-3.13h0a1.57,1.57,0,0,1,0,3.13Z"/>
                                                        <path class="cls-1" d="M91.94,62.66h0a.52.52,0,0,0,.4-.5.5.5,0,0,0-.18-.43,1.11,1.11,0,0,0-.64-.15,4.55,4.55,0,0,0-.59,0v2.06h.33v-.88h.23a.39.39,0,0,1,.44.36,1.64,1.64,0,0,0,.14.52h.35a1.67,1.67,0,0,1-.13-.5C92.25,62.86,92.12,62.7,91.94,62.66Zm-.44-.13h-.24v-.69l.24,0c.37,0,.5.18.5.36S91.77,62.53,91.5,62.53Z"/>
                                                </g>
                                        </defs>
                                        <use xlink:href="#trademark" />
                                        <path d="M40.92,20.69V36.81h8.64V32H54.7C53.28,39.35,46,44.45,36.65,44.45c-.64,0-1.29,0-1.93-.07a25.59,25.59,0,0,1-13.33-4.67,13.6,13.6,0,0,1-5.78-11.15A16.43,16.43,0,0,1,21.28,16.2a21.09,21.09,0,0,1,13.08-5.12l.94,0A27.06,27.06,0,0,1,52,17.17a3.72,3.72,0,0,0,.35.27l.33.27.13.11h9.93V.41H52.67v5A38.41,38.41,0,0,0,32.72,0h-.14A34.84,34.84,0,0,0,8,10.33C2.76,15.65-.08,22.17,0,28.67c.09,7,3.46,13.5,9.49,18.34a34.77,34.77,0,0,0,21.43,7.28c1,0,2,0,2.92-.12,7.79-.64,14.68-2.41,19.56-5l0,2.15H64.07V32h3.35V54.38H61.85V64.45H86.71V54.38H81.14V32H94.61v4.83h8.69V20.69ZM32.72.48h0Z"/>
                                </svg>
                                <h6>Georgia<br>Tech</h6>
                        </div>
                        <div id="search">S</div>
                </header>
                <section>
                        <div class="tabs">
                                <div class="selected">Home</div>
                                <div>Academics</div>
                                <div>Research</div>
                        </div>
                        <div class="submenu about">

                        </div>
                        <script>accordion(menu, document.querySelector(".submenu"))</script>
                </section>
        </nav>
        <script>
                const nav = document.querySelector("nav");
                const search = document.querySelector("#search");
                nav.addEventListener("click", (event) => {
                        if(event.target == document.querySelector("nav .hamburger")){
                                nav.classList.add("open");
				search.innerHTML = "X";
                        }
                        if(event.target == document.querySelector("nav #search")){
                                nav.classList.remove("open");
				search.innerHTML = "S";
                        }
                })
        </script>

        <div id="view">

		<div class="slideshow">
			<div class="feed">
				<section class="slide carousel">
					<img src="img/covid.jpg" alt="People-Nasa.png">
					<div class="bg"></div>
					<div class="cover">
						<span class="tag" style="background: var(--red)">Covid-19</span>
						<h1>Get Vaccinated</h1>
						<button>Schedule today</button>
					</div>
				</section>
				<section class="slide carousel">
					<img src="img/a.png" alt="People-Nasa.png">
					<div class="bg"></div>
					<div class="cover">
						<span class="tag">STEM</span>
						<span class="tag" style="background: var(--blue)">Govt Relations</span>
						<h1>Deep Space Exploration</h1>
						<p>$15 million over five years for high-power electric propulsion systems.</p>
						<button>Explore</button>
					</div>
				</section>
				<section class="slide carousel">
					<img src="img/aasu.jpg" alt="People-Nasa.png">
					<div class="bg"></div>
					<div class="cover">
						<h1>This Month in Photos: April 2021</h1>
						<button>View</button>
					</div>
				</section>
			</div>
			<div class="controls">
				<div ng-click="down()" class="backward"></div>
				<div ng-click="up()" class="forward"></div>
			</div>


		</div>
		<script src="carousel.js"></script>



        </div>

</body>
</html>