#view{
        padding-top: 4em;
        width: 100vw;
        overflow: hidden;
}

button{
	border-radius: .2rem;
	font-family: "DIN2014-Bold";
	text-transform: uppercase;
	/* letter-spacing: .1em; */
	font-size: 1rem;
	padding: .75rem 1rem;
	border: none;
	background: var(--gold);
	color: var(--white);
}